.container {
    height: 395px;
    background-color: #FFFFFF;

    input {
        height: 36px;	
        width: 421px;	
        margin-left: 30px;
        margin-top: 30px;
        border: 1px solid #D4D4D4;	
        border-radius: 2px;	
        background-color: #FFFFFF;
        outline: none;
    }
    
}